/* CSS variables */
:root {
  --background-color: #faf4ff;
  --dark-blue: #10455B;
  --yellow: #FFAF20;
  --white: #f3f3f3;

  --logo-font: 'Libre Barcode 39 Text', cursive;
}

body {
  font-family: 'Oxygen', sans-serif !important;
  background-color: var(--background-color) !important;
}